mad_max_2020   	  v1
secgame            ?
seed               ?
nb_players    	   4
nb_rnds       	 300
nb_rows       	  19
nb_uni_cols   	  69
nb_win_cols   	  35
nb_cars_x_player   2
nb_rnds_regen 	  30
nb_miss_bonuses   10
nb_gas_bonuses    10
nb_water_bonuses  54
bonus_miss         5
bonus_gas         30
water_pnts        10
kill_pnts         30
init_gas          60
names             ? ? ? ?

rnd 0

   000000000011111111112222222222333333333344444444445555555555666666666
   012345678901234567890123456789012345678901234567890123456789012345678
00 ..........XXX.....W.........XXX...G...XXX...............XXX..........
01 ..........XXX....WWW.........X...W.W..XXX.......X.......XXX..........
02 ..........XXX..XWWMWWX.......X....W...XXX..X...XMX....X.XXX....M.....
03 XXXX......XXX....WWW......W.XXX.......XXX.......X.......XXX.........X
04 XXXXX.....XXXX....W.........XXX.M......X................XXX...W.G..XX
05 ..........GXXXXXXXXXXXG.....XXX........X......XXXXXXXXXXXXX..........
06 ............XXXXXXXXXXX.....XXX.......XXX......XXXXXXXXXX............
07 ...................X.W......XXX.WWWWW.XXX...M.....X...X..............
08 XXXXX..........XW.......XX...X....W...XXX...........X......W....XXXXX
09 XXXXXXX........X...X.W..XX...X....G...XXX.........X...X...G.W.XXXXXXX
10 XXXXX..........XW.......XX...X....W...XXX...M.......X......W....XXXXX
11 ...................X.W......XXX.WWWWW.XXX.........X...X..............
12 ............XXXXXXXXXXX.....XXX.......XXX......XXXXXXXXXX............
13 ..........GXXXXXXXXXXXX.....XXX........X......XXXXXXXXXXXXX..........
14 XXXXX.....XXXX....W.........XXX.M......X................XXX...W.G..XX
15 XXXX......XXX....WWW......W.XXX...W...XXX.......X.......XXX.........X
16 ..........XXX..XWWMWWX.......X...W.W..XXX..X...XMX....X.XXX....M.....
17 ..........XXX....WWW.........X....G...XXX.......X.......XXX..........
18 ..........XXG.....W.........XXX.......XXX...............XXX..........


cars
cid     row     column  nb_miss gas alive   time
0	00	04	5	 60   y	    0
1	02	03	5	 60   y	    0
2	05	00	5	 60   y	    0
3	07	00	5	 60   y	    0
4	11	00	5	 60   y	    0
5	13	00	5	 60   y	    0
6	16	03	5	 60   y	    0
7	18	04	5	 60   y	    0

missiles
0
mid      cid	row     column

players
pid	score	status
0	0	0
1	0	0
2	0	0
3	0	0


